// Les couleurs
$color-title-text: #000000;
$color-bg: #F4F1DE;
$color-client: #9DC4B5;
$color-admin: #E07A5F;



// Les polices
$font-main: "Roboto Mono", monospace; // font title
$font-alt: "Victor Mono", monospace; // font text


// Tailles de police
$font-size-base: 1rem; // texte
$font-size-h2: 2rem;   // titres H2
$font-size-h1: 3rem;   // titres H1
// si besoin de modifier selon la taille il faut passer par le @include



// Les espacements
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;



$breakpoint-desktop: 768px; 
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;

